<<<<<<< HEAD
.mornig{
    background-color: yellow;
    text-align: center;
    color: white;
<<<<<<< HEAD
=======
.h2subheading{
    color:orange;
    background-color: white;
    padding: 20px;
>>>>>>> feature1
=======
}

.f{
    background-color: blueviolet;
    color: white;
>>>>>>> 35cbf8d690957e726551e66c92c401e408c0c862
}