<<<<<<< HEAD
.mornig{
    background-color: yellow;
    text-align: center;
    color: white;
=======
.h2subheading{
    color:orange;
    background-color: white;
    padding: 20px;
>>>>>>> feature1
}